@import 'tailwindcss';

@layer base {
  p a {
    color: #f15d5c;
  }
  p {
    @apply pb-4;
  }
}

@theme {
  --color-highlight: #f15d5c;
  --color-highlight-hover: #ff8d8c;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/src/assets/fonts/opensans-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/src/assets/fonts/museosans-900-webfont.woff') format('woff2');
}
